<nav id>
    <ul>
        <li><a href="/petition">Petition</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/edit">Edit Profile</a></li>
        <li><a href="/signers">Signers</a></li>
    </ul>
</nav>
