<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <link rel="icon" href="/public/favicon.png" type="image/png" />
        <title>Loretta's Petition</title>
    </head>
    <body>
        {{>loggedinnav}}
        <div class="body-container">

        {{{body}}}

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
