<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Loretta's Petition</title>
    </head>
    <body>
        <h1>Loretta's Petition</h1>
        
        <div class="container">

        {{{body}}}

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
