<form class="login-container" action="/login" method="post">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button class="button" name="button">SUBMIT</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

<div class="registration-link">
    <a href="/registration">Haven't registered yet? Click here to register!</a>
</div>

{{error}}
