<h2>Something about my petition</h2>

<form action="/petition" method="post">
    <input id="hidden" type="hidden" name="signature">
    <button>Submit</button>
</form>

{{error}}

<canvas id="canvas" width="400" height="200"></canvas>
