<div class="petition-container">

<h1>SIGN THE PETITION TO END CLICK BAIT!</h1>

<div id="canvas-wrapper">
    <canvas id="canvas" width="400" height="200"></canvas>
</div>

<form action="/petition" method="post">
    <input id="hidden" type="hidden" name="signature">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button">SUBMIT</button>
</form>

<div class="error">
    {{error}}
</div>

<div class="logout-container">
    <a href="/logout">Click here to logout</a>
</div>

</div>
