<h2>Something about my petition</h2>

<form action="/petition" method="post">
    <input type="text" name="first">
    <input type="text" name="last">
    <input id="hidden" type="hidden" name="signature">
    <button>Submit</button>
</form>

{{error}}

<canvas id="canvas" width="600" height="300"></canvas>
