<p>Tell us about yourself!</p>
<br>
<form class="profile-container" action="/profile" method="post">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="url" placeholder="Homepage">
    <button name="button">CONTINUE</button>
</form>
