<div class="profile-section">
    <h1>Tell us about yourself! (Optional)</h1>

    <div>
        <img id="profile-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE9AFtu73XHYpmbJTHLz8ozrwpNyoL0sNU9pQtRyn8N-3vpi3wTg" alt="Profile Icon">
    </div>

    <form class="profile-container" action="/profile" method="post">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="url" placeholder="Homepage">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button">CONTINUE</button>
    </form>

    <div class="logout-container">
        <a href="/logout">Click here to logout</a>
    </div>
</div>
