<form class="registration" action="/registration" method="post">
    <input type="text" name="first" placeholder="First Name">
    <input type="text" name="last" placeholder="Last Name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button name="button">Submit</button>
</form>
<br>
<a href="/login">Already have an account? Click here to go to user login</a>
