<div class="thankyou-container">

<h1>Thanks for signing!</h1>

<img id="signature-image" src="{{signature}}">

<button class="button"> <a href="/signers">SEE ALL ({{count}}) SIGNERS</a></button>
<button class="button"> <a href="/edit">EDIT PROFILE</a></button>

<form class="delete-container" action="/delete" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button">DELETE SIGNATURE</button>
</form>

<div class="logout-container">
    <a href="/logout">Click here to logout</a>
</div>

</div>
