<h2>Thanks for signing!</h2>

<img id="signature-image" src="{{signature}}">

<div class="links-container">
    <a href="/signers">See all {{count}} signers</a>
    <a href="/edit">Click here to edit your profile!</a>
</div>

<form class="delete-container" action="/delete" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="button">Click here to delete your signature</button>
</form>

<div class="logout-container">
    <a href="/logout">Click here to logout</a>
</div>
