* {
box-sizing: border-box;
}

body {
    background-color: rgb(3, 30, 76);
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: blue;
    font-size: 20px;
    margin-left: 0px;
}

a:hover {
    background-color: white;
}

p {
    color: rgb(2, 246, 218);
    font-family: courier;
    font-size: 20px;
}

h1, h2 {
    color: rgb(2, 246, 218);
    font-family: courier;
    display: flex;
    justify-content: space-between;
}

input {
    width: 300px;
    height: 35px;
    background-color: lightgray;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button {
    height: 35px;
    border-radius: 5px;
    background-color: #535c68;
    font-size: 20px;
    color: lightgray;
    transition: background-color 0.15s linear;
}

.button:hover {
    background-color: #17c0eb;
}

#canvas {
    background-color: #4437f5;
}

#signature-image {
    background-color: #4437f5;
    width: 400px;
    height: 150px;
    margin-bottom: 20px;
}

#profile-icon {
    margin-bottom: 10px;
}

.clickbait-cartoon {
    position: absolute;
    left: 52%;
    bottom: 43.5%;
}

.clickbait-image {
    height: 300px;
    width: 55%;
    display: flex;
    justify-content: center;
    background: blue url(http://s.marketwatch.com/public/resources/MWimages/MW-FC107_fake_ZG_20161215132556.jpg) no-repeat;
     background-size: 100% 100%;
}

.registration-container {
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logout-container {
    padding-top: 10px;
    margin-left: 10px;
}

.thankyou-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.petition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signers-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgb(2, 246, 218);
    font-family: courier;
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.edit-container input {
    margin-bottom: 10px;
}
.profile-container input {
    margin-bottom: 10px;
}

.each-signer {
    color: rgb(2, 246, 218);
    margin-bottom: 20px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2217bc;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #a29bfe;
}
