body {
    background-color: rgb(176, 72, 233);
}

p {
    font-size: 20px;
    color: rgb(67, 223, 167)
}

#canvas {
    background-color: rgb(69, 52, 150);
    margin-top: 10px;
}

#signature-image {
    border: dotted 3px cyan;
    background-color: rgb(69, 52, 150);
    display: inline-block;
    width: 400px;
    height: 200px;
}
